mat-toolbar {
  background-color: whitesmoke;
  height: 80px;
}
input {
  height: 30px;
  margin-left: auto;
  border: 1px solid #d5d3d3;
  box-shadow: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}
